<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Tämä alkuosa on kopioitu suoraan tuolta qlman nettisivulta -->

    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kirjaudu sisään - QLMA</title>


    <!-- Custom CSS -->
    <link href="css/login.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div id="login-container">

	<img id="logo" src="img/qlma.png" width="150">
	
	<div id="form-area">
		<form>
	
			<span class="form-text">KÄYTTÄJÄTUNNUS</span><br>
			<input class="form-input" type="text" />
			
			<span class="form-text">SALASANA</span><br>
			<input class="form-input" type="password" />
			
			<input class="form-button" type="submit" value="KIRJAUDU">
	
			<a href="#" id="unohtuiko-text">UNOHTUIKO SALASANA?</a>
			
		</form>
	</div>

	<div id="school-text">
		<span>Sylvään koulu, Sastamala</span>
	</div>
	
	<div id="change-school">
		<a href="#">VAIHDA KOULUA</a>
	</div>

</div>


</body>
</html>
